<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Day Template</title>
</head>

<body>
  <h1><%=dayIs%></h1>
  <div class="">
    <ul>
      <% for(var i=0; i < itemslist.length; i++){ %>
      <li><%=itemslist[i];%></li>
      <% } %>
    </ul>
  </div>
  <form action="/" method="post">
    <input type="text" name="itemToDoListTextbox" placeholder="Enter the item here.">
    <button type="submit" name="addItemToDoList">Add Item</button>
  </form>
</body>

</html>
